<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="http://www.w3school.com.cn/jquery/jquery-1.11.1.min.js" />
<script src="js/index.js" type="text/javascript" charset="utf-8"/>
<title>企业信息-人工打码平台</title>
</head>
<body>
	<table>
		<tr>
			<td>key</td>
			<td>图片</td>
			<td>输入</td>
			<td>提交</td>
		</tr>
		<tr th:if="${urls.size()!=0} and ${objectValue.size()!=0} " th:each="url,urlStat : ${urls}" th:id="${url.key}+'_tr'">
			<td th:text="${url.key}"></td>
			<td><img th:src="'/'+${url.value}" /></td>
			<td><input type="text" th:id="${url.key}" /></td>
			<td><button th:name="${url.key}" >提交</button></td>
			<td><input type="hidden" th:id="${url.key}+'_cookie'" th:value="${objectValue.get(url.key).Cookie}" /></td>
			<td><input type="hidden" th:id="${url.key}+'_credit_ticket'" th:value="${objectValue.get(url.key).credit_ticket}" /></td>
			<td><input type="hidden" th:id="${url.key}+'_keyword'" th:value="${objectValue.get(url.key).keyword}" /></td>
		</tr>
	</table>
</body>
</html>